@model IEnumerable<PROIECT.Models.PlantsViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Books Statistics";
}
<h2>Ordered Books Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Number of Orders
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.PlantCount
            </td>
        </tr>
    }
</table>
